*{
    transition:all .5s;
}

body {
    background-color:#F3F5FC;
    font-family: 'Inter', sans-serif;
    font-weight:400;
    font-size:32px;
    line-height:150%;
}



/* Header */


.logo_alura{
    position: absolute;
    width: 120px;
    height: 5%;
    left: 2.1%;
    top: 4.079%;
}

/* Main */

/* Input de Entrada */
#entrada{
    outline:none;
    border:none;
    color:#0A3871;
    font-size:32px;
    font-family: 'Inter', sans-serif;
    background:none;
    word-break: break-word;
    resize:none;

    position: absolute;
    width: 52%;
    height: 61.7%;
    left: 12.56%;
    top: 16.5%;
}

::placeholder{
    color:#0A3871;
}

.informacao{
    display:flex;
    align-items: center;
    gap:8px;

    position: absolute;
    width: 252px;
    height: 1.8%;
    left: 13.35%;
    top: 81.6%;
}

.informacao h6{
    font-size:12px;
}

/* Botões */
button{
    background: none;
	color: #0A3871;
	border:solid 1px #0A3871;
    border-radius:24px;
	padding: 24px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size:16px;
    width:100%;
    line-height:19px;
    transition:all .5s;
}

button:hover{
    background: #0A3871;
    color:white;
}

.botoes{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:3.5%;

    position: absolute;
    width: 35.6%;
    height: 4%;
    left: 12.55%;
    top: 84.6%;
}

.botoes2{
    display:grid;
    gap:25%;

    position: absolute;
    width: 79.8%;
    height: 7.3%;
    left:10%;
    top: 78.9%;
}


/* Input de Saída */
#saida{
    outline:none;
    border:none;
    color:#495057;
    font-family: 'Inter', sans-serif;
    background:none;
    word-break: break-word;
    resize:none;
    font-size:24px;

    position: absolute;
    top: 3%;
}

/* Card */

#card{
    background-color:white;
    border:none;
    border-radius:24px;
    color:#0A3871;
    margin-left:5.238%;
    margin-top:0;
    padding-left:1.05%;
    display:flex;
    align-items:center;
    box-shadow:10px 10px;

    position: absolute;
    width: 21%;
    height: 92.9%;
    left:68.05%;
    top: 4.09%;
}

#aparecido{
    display:block;
}

#aparecido img{
    width:100%;
}

#aparecido > p:nth-of-type(1) {
    font-size:24px;
    font-weight:bold;
    color:#343A40;
    font-weight: 700;
    text-align:center;
    line-height: 120%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin:7.5%;
}
#aparecido > p:nth-of-type(2) {
    font-size:16px;
    line-height:150%;
    text-align:center;
    color: #495057;
    font-style: normal;
    font-weight: 400;
}


#escondido{
    display:none;
}

#escondido textarea{
    width:80%;
    height:70%;
    flex-grow:0;
    left:10%;
}



/* Footer */

footer{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 103.25%;
}

footer div {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%
}

footer div p{
    background: -webkit-linear-gradient(#0A3871,#6984e6);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer div a {
    size:5px;
}

footer div img {
    margin-left:20px;
}

footer div img {
    filter: invert(14%) sepia(93%) saturate(1860%) hue-rotate(201deg) brightness(89%) contrast(93%);
}

.logo_github{
    width:40px;
}




/* Scrollbar */

textarea::-webkit-scrollbar {
    display: none;
  }

::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
      border-radius: 10px;
  }
  
::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44, rgb(122,153,217)),color-stop(0.72, rgb(40, 89, 149)), color-stop(0.86, rgb(5, 32, 110)));
  }


  /* Media queries  */


  @media (max-width:2560px){

  }

  @media (max-width:1440px){

  }

  @media (max-width:1024px){

  }

  /* Tablet */

  @media (max-width: 768px){

    .logo_alura{
        position: absolute;
        left:0px;
        top: 73.42px;
    }

    #entrada{
        position: absolute;
        width: 600px;
        height: 380px;
        left: 40px;
        top: 200px;
        margin:0px;
        padding:0px;
    }

    .informacao{
        position: absolute;
        width: 252px;
        height: 18px;
        left: 40px;
        top: 630px;
    }

    button{
        padding:0px;
        width:270px;
    }

    .botoes{
        display: flex;
        position: absolute;
        left:0px;
        top: 660px;
        margin:0px;
        width:680px;
        height:6.9%;
        text-align: center;
        justify-content: center;
    }


    #card{
        position: absolute;
        width: 600px;
        height: 500px;
        left:50px;
        top: 800px;
        margin:0px;
    }

    #aparecido{
        width: 688px;
        height: 133px;
    }

    #aparecido img{
        display:none;
    }

    #escondido textarea{
        height:200px;
        width:535px;
    }

    .botoes2{
        position: absolute;
        left:45px;
        top:300px;
    }

    .botoes2 button{
        width:540px;
        height:67px;
    }

    footer{
        position: absolute;
        width:0px;
        height:0px;
        top: 1350px;
        font-size:20px;
        margin:0px;
    }

    footer div{
        width:700px;
    }

    /* Celular L */

    @media (max-width:425px){

    }


    /* Celular M */
    @media (max-width: 375px){
        .logo_alura{
            transform:scale(2);
        }
        #entrada{
            top:280px;
            height:700px;
            font-size:60px;
            width: 650px;
        }
        .informacao{
            left:150px;
            transform:scale(2);
            top: 1100px;
        }

        .botoes{
            display: grid;
            grid-template-columns: 1fr;
            left:345px;
            top: 1150px;
            width:0px;
            height:0px;
            gap:50px;
        }

        .botoes button{
            margin:0;
            font-size:30px;
            width:610px;
            height:130px;
            border-radius:40px;
        }

        #card{
            top:1500px;
            width:650px;
            left:16px;
            height:900px;
        }


        #card #aparecido p{
            font-size:40px;
        }

        #escondido textarea{
            left:40px;
            font-size:50px;
            height:550px;
            width:580px;
        }
    
        .botoes2{
            left:25px;
            top:630px;
            gap:40px;
        }
    
        .botoes2 button{
            width:600px;
            height:100px;
            font-size:30px;
            border-radius:30px;
        }


        footer{
            top:2500px;
            left:140px;
        }
        footer div{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }
        footer img{
            transform:scale(3);
            margin:0px;
        }
        footer p{
            display:none;
        }
    }

    @media (max-width:320px){

    }

  }